{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
{% endblock %}
{% block content %}
<div id="function-rendering">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <ul>
            <div v-show="character" class="large-12 medium-12 small-12 cell">
              {% verbatim %}
                <li id="sheet1">{{ character.name }}
                  <ul> Race: {{ character.race }} </ul>
                  <ul> Description: {{ character.description }} </ul>
                  <ul> Weapon: {{ character.weapon }} </ul>
                  <ul> Dice Roll: {{ dRoll }} </ul>
                  <select v-for="roll in rolls" v-model="rolls.selectedValue">
                    <option v-for="(value, name) in roll.options" :value="value">{{ name }}</option>
                  </select>
                    {% endverbatim %}
                  <button v-on:click="rollDice()">
                    Skill check
                  </button>
                </li>
            </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="{% static 'js/myvue.js' %}"></script>
{% endblock %}
